<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <title th:text="${book.title}"></title>
    <link rel="stylesheet" th:href="@{/css/product.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/product1.css}" media="screen">
    <script class="u-script" type="text/javascript" th:src="@{/js/product.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/product1.js}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

</head>

<body>
<div th:insert="/base::base_css"></div>
<div th:insert="/base::base"></div>
    <section class="u-clearfix u-section-1" id="carousel_cd30">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1"><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
            <div class="u-container-style u-expanded-width u-product u-product-1">
                <div class="u-container-layout u-container-layout-1"><!--product_image-->
                    <img alt="" class="u-image u-image-default u-product-control u-image-1" th:src="${ book.coverImg }"><!--/product_image-->
                    <div class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
                        <div class="u-container-layout u-container-layout-2"><!--product_title-->
                            <h2 class="u-product-control u-text u-text-1">
                                <a class="u-product-title-link" href="#" th:text = "${book.title}"><!--product_title_content--><!--/product_title_content--></a>
                            </h2><!--/product_title-->
                            <p class="u-small-text u-text u-text-font u-text-variant u-text-2">
                                <div>Author:</div>
                                <div th:each="task,iter : ${authors}">
                                    <div th:text="' - '+${iter.current.firstname}+' '+${iter.current.lastname}+' - '"></div>
                                </div>
                                <br>
                                <div>Genres:</div>
                                <div th:each="task,iter : ${genres}">
                                    <div th:text="${iter.current}+'  '"></div>
                                </div>
                                 <br>
                            <div>Publish Date:</div>
                                 <div th:text="${book.publishDate}"></div>
                                <br>
                            <div>ISBN:</div>
                                <div th:text="${book.isbn}"></div>
                                <br>
                            <div>Rating:</div>
                                <div th:text="${book.rating}"></div>
                                <br>
                            <div>Rating Number:</div>
                                <div th:text="${book.ratingNumber}"></div>
                            </p><!--product_price-->
                            <div class="u-product-control u-product-price u-product-price-1">
                                <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                    <div class="u-price u-text-palette-2-base" style="font-size: 1.5rem; font-weight: 700;" th:text = "${book.price}+' Lei'"><!--product_regular_price_content--><!--/product_regular_price_content--></div><!--/product_regular_price-->
                                </div>
                            </div><!--/product_price-->
                            <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
                            <a href="https://nicepage.com/static-site-generator" class="u-black u-border-2 u-border-grey-75 u-btn u-button-style u-hover-grey-75 u-product-control u-btn-1"><!--product_button_content-->Add to Cart<!--/product_button_content--></a><!--/product_button-->
                        </div>
                    </div>
                </div>
            </div><!--/product_item--><!--/product-->
        </div>
    </section>
</body>
</html>