{% extends "base.html.twig" %}

{% block title %} {{ book.title }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/product.css" media="screen">
    <link rel="stylesheet" href="/css/product1.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/product.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/product1.js" defer=""></script>
{% endblock %}

{% block body %}
    <section class="u-clearfix u-section-1" id="carousel_cd30">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1"><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
            <div class="u-container-style u-expanded-width u-product u-product-1">
                <div class="u-container-layout u-container-layout-1"><!--product_image-->
                    <img alt="" class="u-image u-image-default u-product-control u-image-1" src="{{ book.coverPath }}"><!--/product_image-->
                    <div class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
                        <div class="u-container-layout u-container-layout-2"><!--product_title-->
                            <h2 class="u-product-control u-text u-text-1">
                                <a class="u-product-title-link" href="#"><!--product_title_content-->{{ book.title }}<!--/product_title_content--></a>
                            </h2><!--/product_title-->
                            <p class="u-small-text u-text u-text-font u-text-variant u-text-2">Author:<br>Genre:<br><br>Language:<br>Publisher:<br>Publish Date:<br>ISBN:
                            </p>
                            <p class="u-small-text u-text u-text-font u-text-variant u-text-3">
                                {% for author in authors %}
                                    {{ author.firstName }} {{ author.lastName }}
                                {% endfor %}
                                <br>
                                {% for genre in genres %}
                                    {{ genre.name }}
                                {% endfor %}
                                <br>
                                {% for lan in language %}
                                    {{ lan.languageName }}
                                {% endfor %}
                                 <br>
                                {% for pub in publisher %}
                                    {{ pub.name }}
                                {% endfor %}
                                 <br> {{ book.publishDate|date("m/d/Y") }} <br> {{ book.isbn }}
                            </p><!--product_price-->
                            <div class="u-product-control u-product-price u-product-price-1">
                                <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                    <div class="u-price u-text-palette-2-base" style="font-size: 1.5rem; font-weight: 700;"><!--product_regular_price_content-->{{ book.price }}Lei<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                </div>
                            </div><!--/product_price-->
                            <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
                            <a href="https://nicepage.com/static-site-generator" class="u-black u-border-2 u-border-grey-75 u-btn u-button-style u-hover-grey-75 u-product-control u-btn-1"><!--product_button_content-->Add to Cart<!--/product_button_content--></a><!--/product_button-->
                        </div>
                    </div>
                </div>
            </div><!--/product_item--><!--/product-->
        </div>
    </section>
{% endblock %}