<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="wrapper fadeInDown">
            <!--<h3 th:if="${error}!=null" style="color: #adcce9" th:text = "${error}"></h3>-->
        <div id="formContent">
            <!-- Tabs Titles -->
            <a> <h2 class="active"> Sign In </h2></a>
            <a th:href="@{/register}"><h2 class="inactive underlineHover">Sign Up </h2></a>
                    <!-- Login Form -->
            <form action="/submitLogin" method="post">
                <input type="text" id="login" class="fadeIn second" name="user" placeholder="username" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" th:href="@{/register}">New User?</a>
            </div>
        </div>
    </div>
</body>
</html>