<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header>
    <div th:insert="/base::base_css"></div>
    <div th:insert="/base::base"></div>
</header>

<div class="wrapper fadeInDown">
    <h3 th:if="${error}!=null" style="color: #adcce9" th:text = "${error}"></h3>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <a href="/login"> <h2  class="inactive1">Sign In</h2> </a>
            <a><h2  class="active1 underlineHover1">Sign Up </h2></a>

            <!-- Login Form -->
            <form action="/submitRegister" method="post" modelAttribute="userRegister">
                <input type="text" class="fadeIn second" name="username" placeholder="username" required>
                <input type="text" class="fadeIn second" name="firstName" placeholder="First Name" required>
                <input type="text" class="fadeIn second" name="lastName" placeholder="Last Name" required>
                <input type="text" class="fadeIn second" name="address" placeholder="Address" required>
                <input type="text" class="fadeIn second" name="city" placeholder="City" required>
                <input type="text" class="fadeIn second" name="country" placeholder="Country" required>
                <input type="text" class="fadeIn second" name="phone" placeholder="phone" required>
                <input type="text" class="fadeIn second" name="email" placeholder="email" required>
                <input type="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" class="fadeIn fourth" value="Register">
            </form>


        </div>
    </div>
</div>
</body>
</html>