<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}" media="screen">
    <script class="u-script" type="text/javascript" th:src="@{/js/cart.js}" defer=""></script>
</head>
<body>
<header id="site-header">
    <div th:insert="/base::base_css"></div>
    <div th:insert="/base::base"></div>
</header>

<div class="container">
    <section id="cart">
        <div th:each="task,iter : ${books}">
        <!-- prduct -->
        <article class="product">
            <header>
                <a class="remove">
                    <img th:src="${iter.current.coverImg}" alt="">
                    <h3>Remove product</h3>
                </a>
            </header>

            <div class="content">
                <h1 th:text="${iter.current.title}"></h1>
            </div>

            <footer class="content">
                <span class="qt-minus">-</span>
                <span class="qt" th:text="${iter.current.ammount}"></span>
                <span class="qt-plus">+</span>

                <h2 class="full-price" th:text="${iter.current.price}+' Lei'"></h2>
            </footer>
        </article>
        <!-- end of product -->
        </div>
    </section>
</div>

<footer id="site-footer">
    <div class="container clearfix">

        <div class="left">
            <h2 class="subtotal">Subtotal: <span th:text="${subtotal}+' Lei'"></span></h2>
            <h3 class="shipping">Shipping: <span>15.00</span>Lei</h3>
        </div>

        <div class="right">
            <h1 class="total">Total: <span th:text="${total}+' Lei'"></span></h1>
            <a th:href="@{/checkout}" class="btn">Checkout</a>
        </div>

    </div>
</footer>
</body>
</html>