.u-section-1 {
  min-height: 679px;
}

.u-section-1 .u-group-1 {
  min-height: 228px;
  width: calc(((100% - 1140px) / 2) + 607px);
  margin: 226px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -393px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 559px;
}

.u-section-1 .u-image-1 {
  width: 516px;
  left: 0;
  right: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 40px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 197px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 51px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 581px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 517px);
    margin-top: 188px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -355px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-1 .u-image-1 {
    width: 456px;
    margin-bottom: initial;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 473px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 396px);
    margin-top: 226px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -393px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-image-1 {
    width: 362px;
    height: 381px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 20px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 701px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 494px);
    margin-top: 137px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -304px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-1 .u-image-1 {
    width: 423px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 599px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 226px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -393px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    width: 306px;
    height: 306px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}