<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <title th:text="${category}"></title>
    <link rel="stylesheet" th:href="@{/css/home.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/home1.css}" media="screen">
    <script class="u-script" type="text/javascript" th:src="@{/js/home1.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/home.js}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

</head>
<body>
<!-- insert the navigation bar -->
<div th:insert="/base::base_css"></div>
<div th:insert="/base::base"></div>

<!-- actual content -->
<section class="u-align-center u-clearfix u-section-1" id="sec-e8e8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-products u-repeater u-repeater-1">
            <div th:each="task,iter : ${books}">
                <!-- first column -->
                <div th:if="${iter.index%4==0}" class="u-align-center u-container-style u-products-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1" th:src="${iter.current.coverImg}">
                        <h4 class="u-align-center u-product-control u-text u-text-1">
                            <a class="u-product-title-link" th:href="@{'/home/'+${iter.current.isbn}}" th:text = "${iter.current.title}"></a>
                        </h4>
                        <div class="u-product-control u-product-price u-product-price-1">
                            <div class="u-price-wrapper u-spacing-10">
                                <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;" th:text = "${iter.current.price}+ ' Lei'"></div>
                            </div>
                        </div>
                        <a th:href="@{'/home/'+${iter.current.isbn}}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-1"> Details </a>
                    </div>
                </div>

                <!-- second column -->
                <div th:if="${iter.index%4==1}" class="u-align-center u-container-style u-products-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-2" th:src="${iter.current.coverImg}">
                        <h4 class="u-product-control u-text u-text-2">
                            <a class="u-product-title-link" th:href="@{'/home/'+${iter.current.isbn}}" th:text = "${iter.current.title}"></a>
                        </h4>
                        <div class="u-product-control u-product-price u-product-price-2">
                            <div class="u-price-wrapper u-spacing-10">
                                <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;" th:text = "${iter.current.price}+ ' Lei'"></div>
                            </div>
                        </div>
                        <a th:href="@{'/home/'+${iter.current.isbn}}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-2"> Details </a>
                    </div>
                </div>

                <!-- third column -->
                <div  th:if="${iter.index%4==2}" class="u-align-center u-container-style u-products-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-3" th:src="${iter.current.coverImg}">
                        <h4 class="u-product-control u-text u-text-3">
                            <a class="u-product-title-link" th:href="@{'/home/'+${iter.current.isbn}}" th:text = "${iter.current.title}"></a>
                        </h4>
                        <div class="u-product-control u-product-price u-product-price-3">
                            <div class="u-price-wrapper u-spacing-10">
                                <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;" th:text = "${iter.current.price}+ ' Lei'"></div>
                            </div>
                        </div>  
                        <a th:href="@{'/home/'+${iter.current.isbn}}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-3"> Details </a>
                    </div>
                </div>

                <!-- fourth column -->
                <div th:if="${iter.index%4==3}" class="u-align-center u-container-style u-products-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-4" th:src="${iter.current.coverImg}">
                        <h4 class="u-product-control u-text u-text-4">
                            <a class="u-product-title-link" th:href="@{'/home/'+${iter.current.isbn}}" th:text = "${iter.current.title}"></a>
                        </h4>   
                        <div class="u-product-control u-product-price u-product-price-4">
                            <div class="u-price-wrapper u-spacing-10">
                                <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;" th:text = "${iter.current.price}+ ' Lei'"></div>
                            </div>
                        </div>  
                        <a th:href="@{'/home/'+${iter.current.isbn}}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-4">Details </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</body>
</html>