{% extends "base.html.twig" %}

{% block title %}{{ genre }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/home.css" media="screen">
    <link rel="stylesheet" href="/css/home1.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/home.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/home1.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
{% endblock %}
{% block body %}
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-3 u-border-grey-40 u-container-style u-group u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-align-center u-text u-text-1">{{ genre }}</h1>
            </div>
        </div>
    </div>
    {% for index in 0..count-1 %}
        <section class="u-align-center u-clearfix u-section-1" id="sec-e8e8">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--products--><!--products_options_json--><!--{"type":"Recent","source":"","tags":"","count":4}--><!--/products_options_json-->
                <div class="u-expanded-width u-products u-repeater u-repeater-1"><!--product_item-->

                    {% if books1 is defined %}
                    {% if books1[index] is defined and books1[index] is not null  %}
                        <div class="u-align-center u-container-style u-products-item u-repeater-item">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><!--product_image-->
                                <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-1" src="{{ books1[index].getCoverPath }}"><!--/product_image--><!--product_title-->
                                <h4 class="u-align-center u-product-control u-text u-text-1">
                                    <a class="u-product-title-link" href="/home/{{ books1[index].getIsbn }}"><!--product_title_content-->{{ books1[index].getTitle }}<!--/product_title_content--></a>
                                </h4><!--/product_title--><!--product_price-->
                                <div class="u-product-control u-product-price u-product-price-1">
                                    <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                        <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                        <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->{{ books1[index].getPrice }}Lei<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                    </div>
                                </div><!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
                                <a href="/home/{{ books1[index].getIsbn }}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-1"><!--product_button_content-->Details<!--/product_button_content--></a><!--/product_button-->
                            </div>
                        </div><!--/product_item--><!--product_item-->
                    {% endif %}{% endif %}

                    {% if books2 is defined %}
                    {% if books2[index] is defined and books2[index] is not null %}
                        <div class="u-align-center u-container-style u-products-item u-repeater-item">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><!--product_image-->
                                <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-2" src="{{ books2[index].getCoverPath }}"><!--/product_image--><!--product_title-->
                                <h4 class="u-product-control u-text u-text-2">
                                    <a class="u-product-title-link" href="/home/{{ books2[index].getIsbn }}"><!--product_title_content-->{{ books2[index].getTitle }}<!--/product_title_content--></a>
                                </h4><!--/product_title--><!--product_price-->
                                <div class="u-product-control u-product-price u-product-price-2">
                                    <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                        <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                        <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->{{ books2[index].getPrice }}Lei<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                    </div>
                                </div><!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
                                <a href="/home/{{ books2[index].getIsbn }}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-2"><!--product_button_content-->Details<!--/product_button_content--></a><!--/product_button-->
                            </div>
                        </div><!--/product_item--><!--product_item-->
                    {% endif %}{% endif %}

                    {% if books3 is defined %}
                    {% if books3[index] is defined and  books3[index] is not null %}
                        <div class="u-align-center u-container-style u-products-item u-repeater-item">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><!--product_image-->
                                <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-3" src="{{ books3[index].getCoverPath }}"><!--/product_image--><!--product_title-->
                                <h4 class="u-product-control u-text u-text-3">
                                    <a class="u-product-title-link" href="/home/{{ books3[index].getIsbn }}"><!--product_title_content-->{{ books3[index].getTitle }}<!--/product_title_content--></a>
                                </h4><!--/product_title--><!--product_price-->
                                <div class="u-product-control u-product-price u-product-price-3">
                                    <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                        <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                        <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->{{ books3[index].getPrice }}Lei<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                    </div>
                                </div><!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
                                <a href="/home/{{ books3[index].getIsbn }}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-3"><!--product_button_content-->Details<!--/product_button_content--></a><!--/product_button-->
                            </div>
                        </div><!--/product_item--><!--product_item-->
                    {% endif %}{% endif %}

                    {% if books4[index] is defined%}
                    {% if books4[index] is defined and books4[index] is not null %}
                        <div class="u-align-center u-container-style u-products-item u-repeater-item">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><!--product_image-->
                                <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-4" src="{{ books4[index].getCoverPath }}"><!--/product_image--><!--product_title-->
                                <h4 class="u-product-control u-text u-text-4">
                                    <a class="u-product-title-link" href="/home/{{ books1[index].getIsbn }}"><!--product_title_content-->{{ books4[index].getTitle }}<!--/product_title_content--></a>
                                </h4><!--/product_title--><!--product_price-->
                                <div class="u-product-control u-product-price u-product-price-4">
                                    <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                                        <div class="u-hide-price u-old-price"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                                        <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;"><!--product_regular_price_content-->{{ books4[index].getPrice }}Lei<!--/product_regular_price_content--></div><!--/product_regular_price-->
                                    </div>
                                </div><!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
                                <a href="/home/{{ books4[index].getIsbn }}" class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-4"><!--product_button_content-->Details<!--/product_button_content--></a><!--/product_button-->
                            </div>
                        </div><!--/product_item-->
                    {% endif %}{% endif %}

                </div><!--/products-->
            </div>
        </section>
    {% endfor %}
{% endblock %}